body {font-family:Segoe UI,Georgia,Helvetica,Cambria}
h1,h2,h3,h4 {font-weight:600}
pre, code {tab-size:4; background-color:#eee; border-radius:3px; font-family:ui-monospace,Inconsolata,Consolas,monospace}
pre {padding:.5em; color: #aaa}
table, th, td {border: 1px solid; border-collapse: collapse; padding: .3em}
table {margin-top: .5em}
span.c {color: #000}
span.k {color: #22d;}
span.o {color: #000}
span.n {color: #3a3}
span.s {color: #959}
a{text-decoration: none; color: #333}
a:hover {color: #39e}
.sidebar
{
	top: 0;
	width: 14rem;
	height: 100%;
	position: fixed;
	padding:.5em;
	box-sizing: border-box;
	overflow-y: auto
}
.sidebar::-webkit-scrollbar {display: none}
.sidebar > ul {list-style-type: none; margin: 0; padding-left: 2em}
.page
{
	margin-left: 15rem
}
@media (prefers-color-scheme: dark) {
	body {background-color: #202024; color: #aaa}
	pre, code {background-color: #303036;}
	pre {color: #656565}
	span.c {color: #aaa}
	span.k {color: #58d}
	span.o {color: #aaa}
	span.n {color: #6a6}
	span.s {color: #b84}
	a {color: #aaa}
	a:hover {color: #ed8}
}